Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
help
install-sh
missing
resources/Makefile
resources/Makefile.in
src/.Gothenburg.cs.swp
src/Makefile
src/Makefile.in
src/gothenburg.exe
src/gothenburg.exe.mdb
stamp-h1
test/Makefile
test/Makefile.in
test/gothenburg.exe                           
